[Desktop Entry]
Version=1.0
Name=ncdu
Comment=TODO
Keywords=TODO
Exec=/usr/bin/ncdu -x /
Icon=/usr/share/icons/amtoine-icons-git/dark/128x128/misc/ok.png
Terminal=true
Type=Application
