[Desktop Entry]
Version=1.0
Name=ptpython
Comment=TODO
Keywords=TODO
Exec=$HOME/.local/bin/ptpython
Icon=/usr/share/icons/a2n-s-icons-git/dark/128x128/misc/ok.png
Terminal=true
Type=Application
