[Desktop Entry]
Version=1.0
Name=pulsemixer
Comment=TODO
Keywords=TODO
Exec=/usr/bin/pulsemixer
Icon=/usr/share/icons/goat-icons-git/dark/128x128/misc/ok.png
Terminal=true
Type=Application
