[Desktop Entry]
Version=1.0
Name=rofi-bluetooth
Comment=TODO
Keywords=TODO
Exec=/usr/bin/rofi-bluetooth
Icon=/usr/share/icons/amtoine-icons-git/dark/128x128/misc/ok.png
Terminal=false
Type=Application
