[Desktop Entry]
Version=1.0
Name=shell
Comment=TODO
Keywords=TODO
Exec=/usr/bin/fish %u
Icon=/usr/share/icons/amtoine-icons-git/dark/128x128/misc/ok.png
Terminal=true
Type=Application
