[Desktop Entry]
Version=1.0
Name=surf
Comment=TODO
Keywords=TODO
Exec=/usr/bin/tabbed -c surf -N -e %u
Icon=/usr/share/icons/goat-icons-git/dark/128x128/misc/ok.png
Terminal=false
Type=Application
